<a href="https://colab.research.google.com/github/javiniki-mahesh/Natural-Language-Processing/blob/main/4_NLTK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4. Write a Python NLTK program to create a list of words from a given string.

In [ ]:
text = "Book radeing is not just a habit, it ljsd, l4 0 *L kj3&( KLF*FLKJ"

In [ ]:
print(text)

Book radeing is not just a habit, it ljsd, l4 0 *L kj3&( KLF*FLKJ

In [ ]:
from nltk.tokenize import word_tokenize

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
word_tokens = word_tokenize(text)
print(word_tokens)

['Book', 'radeing', 'is', 'not', 'just', 'a', 'habit', ',', 'it', 'ljsd', ',', 'l4', '0', '*', 'L', 'kj3', '&', '(', 'KLF', '*', 'FLKJ']

In [ ]:
for word in word_tokens:
  print(word)

Book
radeing
is
not
just
a
habit
,
it
ljsd
,
l4
0
*
L
kj3
&
(
KLF
*
FLKJ

In [ ]:
text1 = """
mahesh
kalyan
sudhakar
"""

In [ ]:
print(text1)

mahesh
kalyan
sudhakar

In [ ]:
word_tokens = word_tokenize(text1)
print(word_tokens)

['mahesh', 'kalyan', 'sudhakar']

In [ ]:
for word in word_tokens:
  print(word)

mahesh
kalyan
sudhakar

In [ ]:
text2 = '''
kalyan, mahesh, Teja.
These 3 people did $ome am@azing !ork in the^r lif#
at *he end) the (redited'''